# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# FAISS index
faiss_index/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db